@model List<CategoryViewModel>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <a class="btn btn-primary" asp-controller="category" asp-action="create">
                    Add
                </a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IsDeleted</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model ?? [])
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.IsDeleted</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="category" asp-action="details" asp-route-id="@item.Id">Details</a>
                                        <a class="btn btn-warning" asp-controller="category" asp-action="update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" onclick="deleteCategory(@item.Id, this)">Delete</a>

                                        @*    <form method="post" asp-action="delete">
                                        <input value="@item.Id" name="id" type="hidden" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form> *@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteCategory(id, element){
        fetch(`https://localhost:7005/Admin/Category/delete/${id}`,{
           method : "Post"}).
           then(response=>response.text()).
           then(data=>{
               element.parentNode.parentNode.remove();
           });

        }
</script>